<div class="app-daashboard">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <nav class="navbar navbar-light" style="background-color:aqua;">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink='/Home' routerLinkActive='active'>Logo</a>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        <a class="nav-link" href="#">Project Name</a>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink='/Dashboardin' routerLinkActive='active'>Dashboard</a>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        <a class="nav-link" routerLink='/Single-order'  routerLinkActive='active'>Single order</a>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        <a class="nav-link" routerLink='/Multiple-orders'  routerLinkActive='active' >Multiple Orders</a>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        <a class="nav-link" href="#">Reports</a>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
      
    <select>
      <option value="EmpId">Employee Id</option>
      <option value="Signout">Signout</option>
      
    </select> 
    </ul>
    
    </div>
    </nav>
    </nav>
    </div>
   