
<div class="card-deck">
  <div class="card">
    
    <div class="card-body">
      start date:<input type="text" bsDatepicker >
    </div>
    
  </div>
  <div class="card">
    
    <div class="card-body">
        End date:<input type="text" bsDatepicker >
      </div>
      
    
  </div>
    <div class="card">
      <div class="card-body">
        <select>
          <option value="India">India</option>
          <option value="London">London</option>
          <option value="America">America</option>
          
        </select> 
      </div>
    </div>

  
</div>
<br>
<br>

<div class="btn">

    <input type="submit">
    
    </div>