<div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Single Order!</h5>
          <a href="#" class="btn btn-primary" routerLink='/Single-order' routerLinkActive='active'>Click</a>
          
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Multiple Orders! </h5>
          
          <a href="#" class="btn btn-primary" routerLink='/Multiple-orders' routerLinkActive='active'>Click.</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Reports!</h5>
            
            <a href="#" class="btn btn-primary">Click.</a>
          </div>  
        </div>
    </div>
</div>    
<router-outlet> </router-outlet>